@import './__variables.scss';
@import './__responsive.scss';
@import url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/286148/Montserrat-Regular.ttf');

* {
  margin: 0;
  padding: 0;
  outline: 0;
}
html,
body {
  background-color: #93acd8;
  min-height: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

#app { 
  height: 100%;
}

.container { 
  max-width: 1330px;
  margin: auto;
}

.converter-component {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  .converter-component__box {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: auto;
    height: auto;
    box-shadow: 0 12px 10px -6px;
    border-radius: 12px;
    background-color: #fff;
    margin: 0 15px;
    padding: 15px 40px;

    .box__title {
      display: flex;
      justify-content: center;
      text-align: center;
      span {
        font-size: 40px;
        color: #1d2f50;
      }
    }

    .box__converter {
      display: flex;
      justify-content: center;
      gap: 20px;
      margin-top: 50px;
      .item {
        display: flex;
        flex: 1;
        gap: 15px;
      }

      select {
        width: 80px;
        height: 31px;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid #000;
        font-size: 18px;
      }

      input {
        width: 100%;
        height: 30px;
        padding: 0 10px;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid #000;
        font-size: 20px;
      }
    }
  }
}